.Deck {
  padding-top: 80px;
}

button {
  border: 2px solid;
  background: none;
  outline: none;
  font: inherit;
  margin: 0.5rem;
  padding: 1rem 2rem;
  color: #009688;
  transition: 0.25s all ease;
}

button:hover {
  color: #00ffe5;
  border-color: #007468;
  box-shadow: inset 0 0 0 2rem #007468;
}
